body {
    position: relative;
}

#game-title {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -132px;
}

.rock {
    color: red;
    font-family: 'Righteous', cursive;
}

.paper {
    color: darkgray;
    font-family: 'Luckiest Guy', cursive;
}

.scissors {
    color: navy;
    font-family: 'Raleway', sans-serif;
}